h1 {
  font-family: Courier New;
}
body {
  font-family: system-ui;
  background: #c1e1c1;
  color: white;
  text-align: center;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
.text {
  margin-right: 20px;
  font-size: 120%;
}
